* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: rgba(15, 23, 42, 0.9);
  position: sticky;
  top: 0;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #e5e7eb;
}

.navbar a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 60px;
}

.hero-text h2 span {
  color: #38bdf8;
}

.hero-img {
  width: 280px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.6);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #38bdf8;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* Sections */
.section {
  padding: 80px 60px;
  text-align: center;
}

.dark {
  background: #020617;
}

.skills-grid span {
  display: inline-block;
  background: #1e293b;
  margin: 10px;
  padding: 12px 20px;
  border-radius: 20px;
}

.projects-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 30px;
  width: 200px;
  border-radius: 12px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}
